<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
        <!-- anchor:status-titles:start -->
      <th data-bind="sortableColumn: {target: $parent, column: 'bookingDate'}">
          <span data-bind="translate: 'rentWork.booking.bookingDate'"></span>
          <i class="sortable"></i>
      </th>
      <th>
          <span data-bind="translate: 'rentWork.booking.person'"></span>
      </th>
      <th>
          <span data-bind="translate: 'rentWork.booking.carCategory'"></span>
      </th>
        <!-- anchor:status-titles:end -->
    </tr>
  </thead>
  <tbody data-bind="foreach: items">
    <tr data-bind="click: $parent.selectRow, css: {'info': $parent.isSelectedItem($data)}">
    <!-- anchor:status-columns:start -->
        <td>
            <span data-bind='dateString: bookingDate'></span>
        </td>
        <td>
            <span data-bind="with: person">
              <a href="#" data-bind="click: $parents[2].viewing.viewItem, clickBubble: false">
                <span data-bind="text: name"></span>
              </a>
            </span>
        </td>
        <td>
            <span data-bind="with: carCategory">
              <a href="#" data-bind="click: $parents[2].viewing.viewItem, clickBubble: false">
                <span data-bind="text: name"></span>
              </a>
            </span>
        </td>
    <!-- anchor:status-columns:end -->
    </tr>
    </tbody>
</table>
